<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1> All Show</h1>
   
    <!-- <table>
        
        <tr>
        <th>id</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release date</th>
        <th>actio</th>
    </tr>

<tr>
    {% for mohammad in all_shows%}
    <tr><td>{{mohammad.id}}</td>
    <td>{{mohammad.title}}</td>
    <td>{{mohammad.network}}</td>
    <td>{{mohammad.Description}}</td>
    <td>{{mohammad.date}}</td>
    </tr>

    {%endfor%}
</tr> -->

    </table>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release date</th>
            <th scope="col">Description</th>
            <th scope="col">date</th>
            <th>action</th>
            
          </tr>
        </thead>
        <tbody>
            {% for mohammad in all_shows%}
          <tr>
            <th scope="row"></th>
            <td>{{mohammad.id}}</td>
            <td>{{mohammad.title}}</td>
            <td>{{mohammad.network}}</td>
            <td>{{mohammad.Description}}</td>
            <td>{{mohammad.date}}</td>
            <td><a href="/shows/{{mohammad.id}}">Show</a> | <a href="shows/{{mohammad.id}}/edit">edit</a> | <a href="/delete/{{mohammad.id}}">delete</a></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    
</body>
</html>